<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Manen">
        <activity
            android:name=".Informasi"
            android:exported="false" />
        <activity
            android:name=".BisnisAnalisis"
            android:exported="false" />
        <activity
            android:name=".LacakPesanan"
            android:exported="false" />
        <activity
            android:name=".DetailPesanan"
            android:exported="false" />
        <activity
            android:name=".Pesanan"
            android:exported="false" />
        <activity
            android:name=".IklanProduk"
            android:exported="false" />
        <activity
            android:name=".Promo"
            android:exported="false" />
        <activity
            android:name=".ProdukDiSukaiKonsumen"
            android:exported="false" />
        <activity
            android:name=".Produk"
            android:exported="false" />
        <activity
            android:name=".MenambahkanProduk"
            android:exported="false" />
        <activity
            android:name=".TambahProduk"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Registrasi"
            android:exported="false" />
        <activity
            android:name=".BerhasilMendaftarScreen"
            android:exported="false" />
        <activity
            android:name=".Verivikasi"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnBoarding"
            android:exported="false" />
    </application>

</manifest>